* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-image: url("./imgs/hero.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
    display: block;
}

header img {
    max-height: 75px;
    max-width: 75px;
}

header nav {
    margin: 7px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {

}

.hero {
    background-image: url("./imgs/hero.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: white;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: rgb(74, 188, 150);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form {
    background-color: rgba(74, 188, 150, 0.8);
    padding: 20px;
    border: solid 3px black;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.form-input {
    border: 1px solid black;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}

.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid black;
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(74, 188, 150);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, rgb(74, 188, 150), white);
}

.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    
}

.thumbnail {
    height: 100px;
    width: 100px;
}

.recipe-wrapper {
    display: flex;
    align-content: center;
    border-left: 2px solid rgb(74, 188, 150);
    border-bottom: 2px solid rgb(74, 188, 150);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after,
.radio-wrapper input::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after,
.radio-wrapper input + label::after {
    content: "";
}

.hero-form label {
    margin: 0 5px;
}

